:root {
  --secondary-color: #ff1f44;
}
.about{
    
    background-color: rgb(255, 253, 251);
}
.quality-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
}
.about-heading{
    font-size: 34px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-sub-heading-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin: 5px 10px;

}
.about-sub-heading-area .line{
    background-color: var(--secondary-color);
    width: 25px;
    height: 2px;
}
.about-sub-heading{
    font-size: 14px;
    font-family:'Trebuchet MS';
    padding: 0px 20px;

}
.quality-features-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.each-quality{
    box-shadow: 0px 0px 12px 2px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-bottom: 2px solid var(--secondary-color);
    margin: 10px 20px;
    background-color: white;
    transition: .9s;
}
.each-quality:hover{
    scale: 1.05;
}
.each-quality img{
    width: 90px;
    object-fit: cover;
}
.quality-name,
.step-name{
    font-weight: bold;
    font-size: 14px;
}
.quality-details,
.step-details{
    font-size: 10px;
    color: rgb(139, 139, 139);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* step area  */
.step-area{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
}
.each-step{
    width: 200px;
    margin: 20px;
    position: relative; 
    background-color: white;
    box-shadow: 0px 0px 5px 2px;
    border-radius: 0px 0px 10px 10px;

}
.each-step:hover{
    transition: .7s;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 0px 0px 0px 0px;
}
.each-step .step-no{
    background-color: var(--secondary-color);
    padding: 6px 10px;
    color: wheat;
    display: flex;
    position: absolute;
    border-radius: 55px;
    box-shadow: 0px 0px 5px 2px;
    font-size: 16px;
    font-weight: bold;
    right: -10px;
    top:-10px;
}

.each-step img{
    width: 100%;
    height:200px;
    object-fit: cover;
}
.step-name,
.step-details{
    margin-left: 10px;
    padding: 5px 0px;
}

/* achievement set up  */
.achievement_area{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}
.each-achievement{
    border: 2px dashed var(--secondary-color);
    margin: 10px 20px;
    border-radius: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px 12px;
}
.each-achievement .quality-details{
 display: flex;
 justify-content: center;
}

/* member area setup */
.member-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.each-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
    background-color: white;
}
.member-details{
    display: flex;
    justify-content: space-around;
    background-color:  #ff1f44ac;
    /* background-color: var(--secondary-color);; */
    top:75px;
    border-radius: 75px;
    align-items: center;
    position: absolute;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.member-details a{
    background-color: white;
    border-radius: 55px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-details a:hover{
    scale: 1.1;
}
.member-details a img{
    display: flex;
    width: 20px;
}
.member-image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
}


/* contact us section design  */
section.contact-us{
    background-color: antiquewhite;
    padding: 30px 40px;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 320px 0px;
}
.contact-details-area{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.contact-details-area{
    .about-heading,
    .quality-details{
        display: flex;
        justify-content: start;
    }
    .quality-details{
        width: 350px;
        margin: 5px 10px;
    }
}
.each-contact{
    display: flex;
    align-items: center;
    margin: 5px;
}
.each-contact .contact-logo{
    margin: 0px 5px;
}
.each-contact .contact-logo img{
    width: 15px;
}
.contact-form-area{
    position: relative;
    margin-left: 190px;
}
form.contact-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 30px 20px ;
    box-shadow: 0px 0px 5px 3px;
    border-radius: 10px;
    margin: 20px 30px;
    position: absolute;
    right: 0;
}
form.contact-form input,
form.contact-form textarea
{
    padding: 5px 10px;
    margin: 20px;
    width: 400px;
    outline: 1px solid rgb(156, 154, 154);
    font-size: 14px;
}
form.contact-form input[type='submit']{
    background-color: var(--secondary-color);
    border: none;
    color: wheat;
    border-radius: 5px;
    padding: 7px 0px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}
form.contact-form input[type='submit']:hover{
    background-color:white ;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


@media screen and (max-width:750px) {
    section.contact-us{
        flex-direction: column;
        margin: 10px 0px 10px 0px;
    }
    .contact-form-area{
    margin-left: 0px;

    }


    .contact-details-area{
        .about-heading,
        .quality-details{
            margin: 5px 10px;
            width: 100%;
        }
    }
    .contact-form-area{
        display: flex;
        justify-content: center;
        margin: 15px 10px;
    }
    form.contact-form{
        position:relative;        
        left: 0px;
        margin: 0px;
        width: 100%;
    }
    form.contact-form input,
    form.contact-form textarea
    {
        padding: 5px 10px;
        margin: 20px;
        width: 85%;
        outline: 1px solid rgb(156, 154, 154);
        font-size: 14px;
    }
}