 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }
  body {
  background-color: #fefefe;
  color: #333;
  line-height: 1.6;
}



.hero {
  /* background-image: url('https://images.unsplash.com/photo-1615796152497-c44f43f94a89'); */
  background-size: cover;
  background-position: center;
  color: #3a3a3a;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(12, 12, 12, 0.438);
}

.hero-content {
  position: relative;
  /* z-index: 10; */
  font-family: Arial, Helvetica, sans-serif;
}

.hero h1 {
  font-size: 4rem;
  color: #000000;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 35px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background 0.3s;
}

.hero button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px 2px;
}
.hero .hero-image .hero-img{
  width: 500px;
}

.section {
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  margin-top: 15px;
  font-size: 1.2rem;
}

.how-it-works li {
  margin-bottom: 10px;
}

footer {
  background-color: #111;
  color: #eee;
  padding: 30px 20px;
  text-align: center;
}
.footer-conent{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}
.footer-conent a.footer-link{
  color: #fff9f9;
  text-decoration: none;
  margin: 10px 20px;
}
@media (max-width: 768px) {
  .hero{
    padding: 100px 20px;
    display: block;
  }
  .hero .hero-content{
    
  margin: 20px 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  
.hero .hero-image .hero-img{
  width: 250px;
}
}
