header {
  background-color: #c70e0e;
  color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

header nav a:hover {
  color: #f4c10f;
}

@media (max-width: 768px) {
  .navbar-menu{
    margin-top: 20px;
  }
}