.profile-background-color{
    background-color: rgba(244, 76, 76, 0.642);
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.user-details-area{
   display: flex;
    background-color: rgb(115, 170, 247);
   padding: 20px;
    position: absolute;
    height: 200px;
    top: 30px;
}
.user-photo-area{
    display: flex;
    align-items: center;
    margin: 20px;
}
.user-details{
    display: flex;
    align-items: center;
    margin: 20px;

}
.user-photo-area img{
    width: 120px;
    height: 150px;
    object-fit: cover;
    /* border-radius: 45px; */
    border: 3px solid rgb(251, 81, 81);
    padding: 2px;
}



.user-details-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.each-option{
    border: 5px solid rgb(255, 84, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    width: 90px;
}

.option-logo img{
    width: 50px;
}
.option-name{
    background-color: rgb(255, 84, 112);
    width: 100%;
    margin: 0;
}
.option-name h6{
    color: white;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    margin: 0;
}